@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme switcher */
.theme-button {
   color: #958d89;
  }
  .theme-button.active {
    color: white;
    background-color: #34caa5;
    border-radius: 9999px;
    padding: 4px 0;
  }